<div class='header'>
 <div class='topbar'><div class='title'></div>
 </div>
</div>
<div class='cover'>
  <div class='coverImg'>
   <image class='coverImg'src='/assets/cover.JPG'></image>
  </div>
 </div>

<div id='container' class='container'>
 <div class='heading'>
  <h3>SF NEWS</h3>
 </div>
</div>

<!-- <table>

<% @albums.each do |album| %>
  <tr>
    <td> <%= album.title %> </td>
    <% if album.cover %>
      <td>  <%= link_to image_tag(album.cover.file.url ,size: '400x400'), album_photos_path(album) %> </td>
<% end %>
  <td>  Views: <%= album.views.to_i.to_s %> </td>
  <td>  Likes: <%= album.likes.to_i.to_s %> </td>
  <td> <%= link_to 'Add Photos', album_photos_path(album) %> </td>
<% end %>
</table> -->

<br />

<%= link_to 'New Album', new_album_path %>
