<p id="notice"><%= notice %></p>

Title: <%= @album.title %>
QR code: <%= image_tag goqr(data:@url,size: '128x128')  %>

<p>
<% @album.photos.each do |photo| %>
  <%= image_tag photo.file.url, :size =>'300x400'  %>
<% end %>
</p>

<%= link_to 'Back', albums_path %>

